[connection]
id=clearwater
uuid=5e63bdb1-79c5-47a1-b29f-8b684f2d909b
type=wifi

[wifi]
mode=infrastructure
ssid={{WIFIClearwater_ID}}

[wifi-security]
key-mgmt=wpa-psk
psk={{WIFIClearwater_PSK}}

[ipv4]
method=auto

[ipv6]
addr-gen-mode=default
method=auto

[proxy]
