[connection]
id=grasslands
uuid=5da167f0-e0fd-4b88-bc76-7f87edbf91f8
type=wifi

[wifi]
mode=infrastructure
ssid={{WIFIGrasslands_ID}}

[wifi-security]
key-mgmt=wpa-psk
psk={{WIFIGrasslands_PSK}}

[ipv4]
method=auto

[ipv6]
addr-gen-mode=default
method=auto

[proxy]
