[connection]
id=home
uuid=c911f1ca-b4b7-4a45-be07-d2eaf1ec7b56
type=wifi

[wifi]
mode=infrastructure
ssid={{WIFIHome_ID}}

[wifi-security]
key-mgmt=wpa-psk
psk={{WIFIHome_PSK}}

[ipv4]
method=auto

[ipv6]
addr-gen-mode=default
method=auto

[proxy]
