[connection]
id=krookandking
uuid=905b0cb4-7bca-424b-a08b-79b3b0a9ff60
type=wifi

[wifi]
mode=infrastructure
ssid={{WIFIKrookAndKing_ID}}

[wifi-security]
key-mgmt=wpa-psk
psk={{WIFIKrookAndKing_PSK}}

[ipv4]
method=auto

[ipv6]
addr-gen-mode=default
method=auto

[proxy]
