[connection]
id=phone
uuid=3d2f8a71-a01c-4f57-b660-d12aaeb94481
type=wifi

[wifi]
mode=infrastructure
ssid={{WIFIPhone_ID}}

[wifi-security]
key-mgmt=wpa-psk
psk={{WIFIPhone_PSK}}

[ipv4]
method=auto

[ipv6]
addr-gen-mode=default
method=auto

[proxy]
