[connection]
id=presto
uuid=9a089bb2-8abb-4baf-b7b9-0b5bf97a739d
type=wifi
autoconnect=false

[wifi]
mode=infrastructure
ssid={{WIFIPresto_ID}}

[wifi-security]
key-mgmt=wpa-psk
psk={{WIFIPresto_PSK}}

[ipv4]
method=auto

[ipv6]
addr-gen-mode=default
method=auto

[proxy]
