[connection]
id=presto
uuid=2c7dac2e-ab9d-48b0-8212-4f708bf74323
type=wifi

[wifi]
mode=infrastructure
ssid={{WIFIPrestoNew_ID}}

[wifi-security]
key-mgmt=wpa-psk
psk={{WIFIPrestoNew_PSK}}

[ipv4]
method=auto

[ipv6]
addr-gen-mode=default
method=auto

[proxy]
