[connection]
id=ruimsig
uuid=a1a2f9d2-7745-4d22-88a3-9fdbe95cf527
type=wifi

[wifi]
mode=infrastructure
ssid="{{WIFIRuimsig_ID}}"

[wifi-security]
key-mgmt=wpa-psk
psk={{WIFIRuimsig_PSK}}

[ipv4]
method=auto

[ipv6]
addr-gen-mode=default
method=auto

[proxy]
