services:
  print-service:
    image: ghcr.io/kayorddx/print-service:latest
    environment:
      ConnectionStrings:Redis: pos.kayord.com,password=${REDIS_PASSWORD},ssl=False,abortConnect=False
      Config:OutletIds: 99
      Config:DeviceId: 1
      Serilog__MinimumLevel: Debug
    restart: unless-stopped
