services:
  print-service:
    image: ghcr.io/kayorddx/print-service:latest
    environment:
      ConnectionStrings:Redis: pos.kayord.com,password=${REDIS_PASSWORD},ssl=False,abortConnect=False
      # Serilog__MinimumLevel: Debug
    volumes:
      - /dev/usb/:/dev/usb/
      - ./config.yml:/app/config.yml
    restart: unless-stopped
    privileged: true
